body {
    background: linear-gradient(90deg, rgb(104, 211, 154) 20%, rgba(29,219,211,1) 87%);
    font-family: 'Nunito', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }

.navbar {
    background: rgb(90,243,255);
    background: linear-gradient(90deg, rgba(90,243,255,1) 32%, rgba(199,123,255,1) 65%);
}
/* 
LINKS FOR GRADIENTS TO CHANGE THE NAVBAR
https://cssgradient.io/
https://www.w3schools.com/css/css3_gradients.asp

*/

.img-with-text {
    font-size: 15px;
    text-align: center;
    margin-bottom: -25px;
    margin-top: -5px;
}

.centertext {
    font-size: 30px;
    text-align: center;
}

.centertext15 {
    font-size: 15px;
    text-align: center;
}

.sign-in {
    font-size: 20px;
    
}

.menu {
    margin-top: 10px;
}

.videos {
    font-size: 30px;
}

.borderBottom{
    border-bottom-style: inset;
    border-bottom-color: rgb(54,69,79);
    border-bottom-width: 3px;

}

.borderLeft {
    border-left-style: inset;
    border-left-color: rgb(54,69,79);
    border-left-width: 3px;
}

.borderRight {
    border-right-style: inset;
    border-right-color: rgb(54,69,79);
    border-right-width: 3px;
}