<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1> ABOUT US PAGE</h1> 
<br> </br>
<div> 
<h2> Keith Tran's blurb </h2>
<p1> Hi, we are seniors from Oakland Technical High School and we want to provide help for those 
    struggling with mental health issues revolving around the pandemic and social media. 
</p1>
</div>
<br> </br>
<h2> Intended purpose</h2>

<p1>We personally want to provide help because we have struggled with mental health issues so 
    it will provide support and information for both you the user, and us, the creators. 
</p1>
<br> </br>

<h7> Version 1.0</h7>





{% endblock %}