<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>

<br> </br>

<h3>Keith's blurb  </h3>
<p> Keith is senior at Oakland Technical High School. </p>
<img src = "/static/picture.jpg"
width = "1500"
height = "200">

<br> </br> 

<h3>Jacob's blurb </h3>
<p> Jacob is senior at Oakland Technical High School. </p>
<img src = "/static/jacob.jpg"
width = "300"
height = "300">

<br> </br>

<h3>Intended Purpose </h3>


<p> The intended purpose of this app is to help out those struggling with mental health issues by providing
    resources such as videos, articles, and therapy.
</p>
<br> </br>

<h3> Interactivity Description </h3>
<p>For each teenager who is struggling with mental health, they will use our app by first answering the setup questions.
  They will then have the features they choose from that survey on the app such as daily tasks, videos to watch, and activities to do.
  By doing the taskss, they will be able to track their progress so they can see how their mental health is affected by the daily tasks.
</p> 

<br> </br>
<h3> Contact Us</h3>
<p>email: keithtran0004@gmail.com</p>
<p>email: s_jacob.la@ousd.org </p>
<br> </br>


<div class="card-footer">
  <h6> Version 1.0 </h6>
</div>

{% endblock %}