<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<h3>Keith's blurb  </h3>
<p> Keith is </p>
<img src = "/static/picture.jpg"
width = "300"
height = "300">

<h3>Jacob's blurb </h3>
<p> Jacob is </p>
<img src = "/static/jacob.jpg"
width = "300"
height = "300"

>


<h3>Intended Purpose </h3>
<p> The intended purpose of this app is to help out those struggling with mental health issues by providing
    resources such as videos, articles, and therapy 
</p>

<h3> Interactivity Description </h3>

<h3> Contact Us</h3>
<br> </br>


<div class="card-footer">
  <h6> Version 1.0 </h6>
</div>

{% endblock %}