{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>

<h1>Activities</h1>
<h3>In order to cope with bad mental health, 
    there are many things that people do such as activities, hobbies, and more. 
    Some ways that people cope with it can be: </h3>
    <h4><li>Yoga</li></h4>
    <h4><li>Excercise</li><h4>
    <h4><li>Reading</h3></h4>
    <h4><li>Drawing</h3></li>
    <br>
    <h2>Here are some of my favorites and why:</h2>
    <br>
    <h3>Listening To Music:</h3>
    <img src = "/static/headphones.png" 
    width = "180"
    height = "170">
    <br>
    <br>
    <h4>
        I think music is one of the best ways to cope with mental health because there's so many options to choose from.
        Depending on my mood, I can maybe listen to chill music, or lofi music, or pop.
        It's so diverse and it really means that you have freedom over something, and with mental health, you really don't feel as if you don't have any at all.
        It's really a way to escape from the real world and into a new one where you feel welcome and can be youself without anyone telling you otherwise.
    </h4>
    
    <h3>Taking frequent breaks</h3>
    <br>
    <h4>
        
    </h4>

{% endblock %}