{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>

<h1 class = "centerText"><b>Activities </b> </h1>
<br>
<h3>In order to cope with bad mental health, 
    there are many things that people do such as activities, hobbies, and more. 
    Some ways that people cope with it can be: </h3>
    <h4><li>Yoga</li></h4>
    <h4><li>Excercise</li><h4>
    <h4><li>Reading</h3></h4>
    <h4><li>Drawing</h3></li>
    <h4><li>Get plenty of sleep</h3></li>
    <h4><li>Spend time with friends</h3></li>
    <h4><li>Eat balanced meals</h3></li>
    <h4><li>Watch movies and videos</h3></li>
    <br>
    <br>
    <h2>What creator Jacob does:</h2>
    <br>
    <h3>Listening To Music:</h3>
    <img src = "/static/headphones.png" 
    width = "180"
    height = "170">
    <br>
    <br>
    <h4>
        I think music is one of the best ways to cope with mental health because there's so many options to choose from.
        Depending on my mood, I can maybe listen to chill music, or lofi music, or pop.
        It's so diverse and it really means that you have freedom over something, and with mental health, you really don't feel as if you don't have any at all.
        It's really a way to escape from the real world and into a new one where you feel welcome and can be youself without anyone telling you otherwise.
    </h4>
    <br>
    <h3>Taking frequent breaks:</h3>
    <img src = "/static/break.png" 
    width = "180"
    height = "170">
    <br>
    <br>
    <h4>
        Taking frequent breaks is a huge plus for me and can be for many others. 
        It gives you a sense of freedom and a refresher after hours of work.
        I take frequent breaks because personally it's hard for me to work for long times at a time, so I need to breaks in order to jump back into work.
        But the weird thing about me is that I either take lots of breaks or no breaks at all, but I still prefer the breaks.
    </h4>

<br>
<h2>What creator Keith does:</h2>
<br>
    <h4> For this section of the activities page, I just want to provide some resources for you, the user to look at. These are some of the personal things I listen to or watch from time to time so whatever interests you, I hope you enjoy.</h4>
<br> <br>
<h2 class = "centerText">Music Playlist 1:</h2>
<iframe style="border-radius:12px" class = "center" src="https://open.spotify.com/embed/playlist/7FPQEZwbZvZQ5Sfg6ZbHFc?utm_source=generator&theme=0" width="50%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<br><br>
<h2 class = "centerText">Music Playlist 2:</h2>
<iframe style="border-radius:12px" class = "center" src="https://open.spotify.com/embed/playlist/10L4dQjrYKvTemXcIQijHg?utm_source=generator&theme=0" width="50%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<br><br>
<h2 class = "centerText">Playable game, Title: Adventures with Anxiety</h2>
<iframe style ="border-radius: 12px" class = "center" src = "https://ncase.me/anxiety/" width = 700 height = 600> </iframe>
<br> <br>
<h2 class = "centerText">Introduction to a show, Arcane</h2>
<iframe width="560" height="560" class = "center" src="https://www.youtube.com/embed/nUVUWi0yX-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>
<h2 class = "centerText">Introduction to a show, Mr. Robot</h2>
<iframe width="560" height="560" class = "center" src="https://www.youtube.com/embed/r1z5y8mMi6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>
<h2 class = "centerText">Introduction to a movie, The Batman (2022)</h2>
<iframe width="560" height="560" class = "center" src="https://www.youtube.com/embed/761uRaAoW00" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>
<h2 class = "centerText">Introduction to a movie, Spider-man Into the Spider-Verse</h2>
<iframe width="560" height="560" class = "center" src="https://www.youtube.com/embed/zzH4rV08TLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>

{% endblock %}