{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>

<h1 class = "centertext"> <u>Mental Health and Social Media Support </u></h1>
<br> 
<img src = "/static/appicon.jpg" 
class= "center"
width = "650"
height = "375">
<br>
<br>
<a href = "/videos">
<h1 class = "centertext"> Videos</h1> 
<img src ="static/videosicon.png"
class= "center"
width = "500"
height = "500">
</a>
<br>
<br> 
<a href = "articles">
<h1 class = "centertext"> Articles</h1>
<img src ="static/articlesicon.png"
class= "center"
width = "500"
height = "500">
</a>
<br>
<br>
<a href = "activities">
    <h1 class = "centertext"> Activities</h1>
    <img src ="static/activitiesicon.png"
    class= "center"
    width = "500"
    height = "500">
    </a>
<br>
<br>
{% endblock %}