{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>
        <h1>Create a new post</h1>
        <br>
        <h4> Welcome to the discussion form page. This is a general form that allows users to converse and talk about anything want. For example, if you want help but do not know what to do, you can make a post and users can respond through the comments section.</h4>
        <br>
        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                <b>Title: </b> <br>
                {{ form.subject(size=64) }}
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <br>
            <p>
                <b>Topic of this post:</b> <br>
                {{ form.posttopic() }}
                {% for error in form.posttopic.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                
            </p>
            <br>
            <b>Enter text here:</b> <br>
            {{ form.content(cols=64, rows=5) }
            {% for error in form.content.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            

            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
