{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>
<div class="row">
    <div class="col-4">
        <h4 class="display-3"><b>Discussions</b></h4>
        <h5><b>This is a place where you can talk about anything whether it would be about
            your life, venting, something you're interested in, etc. 
        </b></h5>
    </div>
    <div class="col-4">
        <a href="/post/new" class="btn btn-dark btn-sm mt-4" role="button">New Post</a>
    </div>
</div>
<br>

{% if posts %}
    {% for post in posts %}
        <div class="row borderBottom">
            <div class="col-3">
                {% if loop.index == 1 %}
                <h3 class="display-5 borderBottom">  Date</h3>
                {% endif %}
                <br>
                <a href="/post/{{post.id}}">
                    {{moment(post.createdate).calendar()}}
                </a>
            </div>
            <div class="col-3">
                {% if loop.index == 1 %}
                <h3 class="display-5 borderBottom">User</h3>
                {% endif %}
                <br>
                {{post.author.username}} 
            </div>
            <div class="col-3">
                {% if loop.index == 1 %}
                    <h3 class="display-5 borderBottom">Title</h3>
                {% endif %}

                <br>
                {{post.subject}} 
            </div>
            <div class="col-3">
                {% if loop.index == 1 %}
                    <h3 class="display-5 borderBottom">Topic</h3>
                {% endif %}
                <br>
                 {{post.posttopic}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Posts</h1>
{% endif %}

{% endblock %}