{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>

        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <h1 class="display-5">Name of post: {{resource.topic}}</h1>
        {{resource.resDescription}} <br>
        <h1 class="display-5">Add a comment</h1>

        <form method=post>
            {{ form.hidden_tag() }}
            
            {{ form.resDescription.label }} <br>
            {{ form.resDescription(cols=64) }}

            {% for error in form.resDescription.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{form.submit()}}
        </form>
        
{% endblock %}
