{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>

<div class="row">
    <div class="col-4">
        <h4 class="display-4">All Resources</h4>
    </div>
    <div class="col-4">
        <a href="/resource/new" class="btn btn-dark btn-sm mt-4" role="button">Upload a resource</a>
    </div>
</div>


{% if resources %}
    {% for resource in resources %}
        <div class="row borderBottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5 borderBottom">Date</h3>
                {% endif %}

                <a href="/resource/{{resource.id}}">
                    {{moment(resource.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5 borderBottom">User</h3>
                {% endif %}
                {{resource.author.username}}
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                    <h3 class="display-5 borderBottom">Title</h3>
                {% endif %}
                {{resource.topic}}
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                    <h5 class="display-5 borderBottom">Desc.</h5>
                {% endif %}
                {{resource.description}}
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                    <h3 class="display-5 borderBottom">Type</h3>
                {% endif %}
                {{resource.restype}}
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5 borderBottom">Link</h3>
                {% endif %}
                {{resource.link}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Resources</h1>
{% endif %}

{% endblock %}