{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ Resources.topic.label }} <br>
                {{ Resources.topic(size=64) }}
                <!--List the errors for this field-->
                {% for error in Resources.topic.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
           

            {{ Resources.description.label }} <br>
            {{ Resources.description(cols=64, rows=10) }}
            <!--List the errors for this field-->
            {% for error in Resources.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            
        <p>
            {{ Resources.type.label }} <br>
            {{ Resources.type() }}
            <!--List the errors for this field-->
            {% for error in Resources.type.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
