{% extends 'base.html' %}

{% block body %}

{% if post %}

{{moment(therapist.createdate).calendar()}} by {{therapist.author.username}} 
{% if therapist.modifydate %}
    modified {{moment(post.modifydate).calendar()}}
{% endif %}
<br>
    {% if therapist.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Post" href="/therapist/delete/{{therapist.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Post" href="/therapist/edit/{{therapist.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <h1 class="display-5">Name: {{therapist.docName}}</h1>
    <br>
    <h1 class="display-5">Age: {{therapist.age}} </h1>
    <br>
    <h1 class="display-5">Description: {{therapist.docDescription}}</h1>
    <br>
    <h1 class="display-5">Location: {{therapist.docLocation}}</h1>
    <br>
    <h1 class="display-5">Gender: {{therapist.gender}}</h1>
    <br>
    <h1 class="display-5">Ethnicity: {{therapist.ethnicity}}</h1>
    <br>
    <h1 class="display-5">Sexuality: {{therapist.sexuality}}</h1>
    <br>
    <h1 class="display-5">Times Available: {{therapist.timesAvailable}}</h1>
    <br>
    <p class="fs-3 text-break"> 
        {% if post.author.image %}
        <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(therapist.author.image.read())}}">
        {% endif %}

    </p>
    <br>
    <br>
    <a href="/comment/new/{{therapist.id}}" class="btn btn-primary btn-sm" role="button">New Comment</a>

    <div class="ms-5">
    {% if comments %}
    <h1 class="display-5">Comments</h1>
    {% for comment in comments %}
        {% if current_user == comment.author %}
            <a href="/comment/delete/{{comment.id}}"><img width="20" src="/static/delete.png"></a> 
            <a href="/comment/edit/{{comment.id}}"><img width="20" src="/static/edit.png"></a>
        {% endif %}
        {{moment(comment.createdate).calendar()}} {{comment.author.username}} 
        {% if comment.modifydate %}
            modified {{moment(comment.modifydate).calendar()}}
        {% endif %}
        <br>
        <p class="fs-3">
            {{comment.TPDescription}}
        </p>
    {% endfor %}
    {% else %}
    <br>
        <h1 class="display-5">No Comments</h1>
    {% endif %}
    </div>
{% else %}
    <h1 class="display-5">No Post</h1>
{% endif %}

{% endblock %}