{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-3">
        <h5 class="display-5">Available Therapists</h5>
    </div>
    <div class="col">
        <a href="/therapist/new" class="btn btn-primary btn-sm mt-5" role="button">Introduce yourself as a therapist.</a>
    </div>
</div>

{% if therapists %}
    {% for therapist in therapists %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/therapist/{{therapist.id}}">
                    {{moment(therapist.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{therapist.author.username}}
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                    <h3 class="display-7">Therapist Name</h3>
                {% endif %}
                {{therapist.docName}}
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                    <h3 class="display-6">Age:</h3>
                {% endif %}
                {{therapist.age}} 
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                    <h3 class="display-6">Gender:</h3>
                {% endif %}
                {{therapist.gender}} 
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                    <h3 class="display-6">Ethnicity:</h3>
                {% endif %}
                {{therapist.ethnicity}} 
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Posts</h1>
{% endif %}

{% endblock %}