
{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>
        <h1>Introduce yourself as a therapist</h1> 
        <br>
        <form method=post>
            {{ form.hidden_tag() }}
           
            <p>
                What is your name? <br>
                {{ form.docName() }}
                <!--List the errors for this field-->
                {% for error in form.docName.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                
            </p>
            <br>
            <p>
                What is your email? <br>
                {{ form.docEmail() }}
                <!--List the errors for this field-->
                {% for error in form.docEmail.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                
            </p>
            <br>
        <p>
            Where do you live?(state and city) <br>
            {{ form.docLocation() }}
            <!--List the errors for this field-->
            {% for error in form.docLocation.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>
            <br>
            <p>What is your gender?</p> 
            {{ form.gender(cols=64, rows=10) }}
            <!--List the errors for this field-->
            {% for error in form.gender.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            <br>
        <p>
            What is your ethnicity? <br>
            {{ form.ethnicity() }}
            <!--List the errors for this field-->
            {% for error in form.ethnicity.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>
        <br>
        <p>
            How old are you? <br>
            {{ form.age() }}
            <!--List the errors for this field-->
            {% for error in form.age.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>

        
        <br>
        <p>
            What is your sexuality? <br>
            {{ form.sexuality() }}
            <!--List the errors for this field-->
            {% for error in form.sexuality.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>
        <br>
        <p>
            What times of the week are you availible?<br>
            {{ form.timesAvailable() }}
            <!--List the errors for this field-->
            {% for error in form.timesAvailable.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>
        <br>
        <p>
            Tell the reader about yourself. <br>
            {{ form.docDescription() }}
            <!--List the errors for this field-->
            {% for error in form.docDescription.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>

        <br>

            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
