<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...img">
    <div class="card-body">
      <h5 class="card-title">Video 1</h5>
      <p class="card-text">Desc.-1</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> </li>
      <li class="list-group-item">Author</li>
      <li class="list-group-item">Date Created</li>
    </ul>
    <div class="card-body">
      <a href="https://www.kff.org/coronavirus-covid-19/issue-brief/the-implications-of-covid-19-for-mental-health-and-substance-use/" class="card-link">Video link</a>
      <a href="https://www.kff.org/person/nirmita-panchal/" class="card-link">Another link to author other article</a>
    </div>
  </div>