{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type ="text/css"/>

<h1 class = "centertext"><b><u>Videos</u> </b></h1>
<br>
<p class = "centertext"><u> Mental Health </u></p> 
<iframe class = "center" width="420" height="315"
src="https://www.youtube.com/embed/oxx564hMBUI">
</iframe>
<br>
<br>
<br>
<p class = "centertext"><u> Learn about adolescent mental health.</u></p> 
<iframe class = "center" width="420" height="315"
src="https://www.youtube.com/embed/ROwIojQmtjs">
</iframe>
<br>
<br>
<br>
<p class = "centertext"><u> Learn about how social media affect mental health</u></p> 
<iframe class = "center" width="420" height="315"
src="https://www.youtube.com/embed/-QDjx_spkwI">
</iframe>
<br>
<br>
<br>
<p class = "centertext"><u> Other Videos:</u></p> 
<br>
<br>
<br>
<p class ="videos"> <u>Watch Ted Talks:</u> </p>
<p class = "centertext"><u> Mental Health Ted Talk</u></p> 
<iframe class = "center" width="420" height="315"
src="https://www.youtube.com/embed/-SHngcWIUJCY">
</iframe>
<br>
<br>
<br>
<p class = "centertext"><u>Overcoming the stigma around mental illness.</u></p> 
<iframe class = "center" width="420" height="315"
src="https://www.youtube.com/embed/l4V31iXtrWo">
</iframe>
<br>
<br>
<br>
<p class = "centertext"><u> Mental health and COVID-19 pandemic</u></p> 
<iframe class = "center" width="420" height="315"
src="https://www.youtube.com/embed/qnRHdCixS18">
</iframe>
<br>
<br>
<br>
<p class = "centertext"><u>How stress affects your brain</u></p> 
<iframe class = "center" width="420" height="315"
src="https://www.youtube.com/embed/WuyPuH9ojCE">
</iframe>
<br>
<br>
<br>
<p class ="videos"><u> Other types of educational videos:</u></p>

<a href = "https://www.youtube.com/watch?v=1i9OktVsTWo" target ="_blank" class = "videos">Title: Teen Health: Mental Health </a>
<br>
<a href = "https://www.youtube.com/watch?v=7nfxdId5RwY" target ="_blank" class = "videos">Title: Teen Health: Why We Need to Re-Brand Adolescent Mental Health | Amber Cowburn </a>
<br>
<br>
<br>
{% endblock %}
